.navbar {
 background-color: #F9B5AC;
 width:100%;
 padding: 15px !important;
 display: block !important;
}

.hidden{
  display: none;
}

.links{
  display: contents;
}

#toggle{
  display: none;
}
.navbar a{
  color:white;
  margin:4%;
  font-size:20px;
}
.nounderline{
  text-decoration: none !important;
}

.nounderline a:hover{
  color:#99E1D9;
}

.logo{
  height:40px;
  width:auto;
  font-weight: bold;
  filter: brightness(0) invert(1);
  padding: 5px;
}

.logo-name{
  margin: 0 !important;
  color: white !important;
  text-decoration: none !important;
}
.burger{
  margin-right: 30px;
  float: right;
  display: none;
}

h1{
  color:#EE7674;
  padding-top: 5%;
  text-decoration: underline;
  text-align: center;
}

h2, h3 {
  color:#EE7674;
}

h4 {
  color:white;
  font-style: bold !important;
  font-size: 18px !important;
}

hr{
  border: #EE7674 2px dotted !important;
  width: 90%;
}

/* --------------------- Index pg styling Starts HERE ---------------------*/

.container-home{
  background-image: url('https://i.pinimg.com/originals/18/41/2c/18412c4d7d45e777885c8e9087c2a04f.jpg');
  background-size: cover;
}
.slider-wrapper{
  width: 100%;
}

.intro-text{
  position: relative;
  top: 50%;
  text-shadow: #593C8F 12px 4px 12px;
  color: white;
  font-size: 80px
}


.carousel-indicators{
  color:#EE7674;
}

.carousel-indicators .active {
  opacity: 1;
  width: 40px;
  height: 5px;
}

.w-100{
  height: 730px;
}

.abt-head{
  text-align: center;
  padding-top: 15px;
}

.para {
  width: 80%;
  padding: 10px;
  text-align: left;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-wrapper{
  padding: 20px;
  display: flex !important;
}

.card {
  width: 100% !important;
  align-items: center !important;
  border: none !important;
  margin: 10px !important;
  background-color: transparent !important;

}

.card img{
  border:#EE7674 dotted 5px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 5px;
}

.card p {
  padding: 5px;
  width: 90%;
}

/* --------------------- Products pg styling Starts HERE --------------------- */
.productpg-wrapper{
  background-image: url('https://i.pinimg.com/originals/18/41/2c/18412c4d7d45e777885c8e9087c2a04f.jpg');
  background-size: cover;
}


.container-filter{
  padding: 30px;
  display: flex;
}

.container-price, .container-type{
  display:grid;
  padding:20px;
}

.lab{
  white-space: normal;
  display: inline;
  top:18px;
  padding:5px;
  position: relative;
  }

.container-filter input{
  display: block;
}

.container-products{
  padding: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  width: 100%;
}

.filterButtons label{
  padding:15px;
}

.item{
  width: 100%;
  height: 100%;
  box-shadow:3px 3px 5px 6px pink;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.item h3{
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.item p{
  width: 100%;
  text-align: center;
  font-size: 17px;
}

.item img {
  height: 200px;
  width: 200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.type{
font-style: italic;
}

.price{
  font-style: italic;
  font-weight:bold;
  color:#EE7674;
}

input[type="button"]{
  background-color: pink;
  color: white;
  width: 100px;
  border-radius: 20px;
  margin: 5px;
  border: solid lightpink 2px;
}


input[type="button"]:focus {
  background-color: palevioletred;

}

select{
  border: 3px solid pink;
}


/* --------------------- Contact Pg styling Starts HERE ---------------------*/
.container-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/18/41/2c/18412c4d7d45e777885c8e9087c2a04f.jpg');
  background-size: cover;
}

.form-wrapper {
  width: 50%;
  height: 100%;
  background-color:#EE7674;
  padding: 15px;
  margin: 3% 0;
  border-radius: 20px;
}

.form-wrapper label {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 3%;
}

.form-wrapper textarea{
  height: 200px;
}

.form-wrapper input,
textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  background-color: white;
  border: 2px solid white;
  margin: 2% 0;
}

.form-wrapper button{
  border-radius: 5px;
  border: white 3px solid;
  background-color: white;
  color:#EE7674;
  display: block;
  margin: 0 auto;
  margin-top: 4%;
  padding: 5px;
  width: 50%;
}

.error-msg {
  margin: 0.25em 0 0 0;
  padding: 0 5px;
  color: white;
  background-color: red;
  font-size: 1.2rem;
  border-radius: 5px;
  width: 100%;
}

.test-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  padding:10px;
}

.profile{
  display: flex;
  flex-direction: column;
  background-color: snow;
  width:100%;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  box-shadow: pink 5px 5px 5px;
  border: 3px salmon solid;
}

.contact-name{
  color:pink;
  align-self: flex-end;
}

.testimonial h3{
  margin-left: 3%;
}

blockquote{
  font-style: italic;
}


/* --------------------- Footer styling Starts Here ------------------ */
footer{
  background-color: #F9B5AC;
  bottom: 0;
  height: 200px;
  width: 100%;
}

svg{
  height: 20px;
  filter:invert(1)
}

svg:hover{
  filter: contrast();
}

.social {
  height:200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.social-links ul{
  display: flex;
  margin:0;
  padding: 0;
}

.social ul li {
  list-style: none;
}

.start{
  margin-right: 10px;
}

.end{
  margin-left: 10px;
}

.seperator{
  margin: 0 10px;
}

.footer-info{
  font-size: 15px;
  color:white;
  text-align: center;
}


/* -------------------- Media Queries --------------------- */

@media only screen and (max-width: 768px){
  .w-100{
    height: auto;
  }
  .burger {
    margin-right: 30px;
    font-size:30px;
    color:white;
    display: block;
    float: right;
  }
  .navbar-item{
    display: block;
    width: 100%;
    line-height: 30px;
    margin: 0;
  }
  .links{
    display: none;
  }
  .hidden{
    display: contents;
  }

  hr{
    width: 80%;
  }

  .intro-text{
    font-size: 40px;
  }
  .container-filter{
    padding: 40px;
    display: flex;
  }

  input[type="button"] {
    width: 100%;
  }

  .container-products{
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    width: 100%;
  }
  .form-wrapper {
    padding: 15px;
    margin: 5% 0;
    width: 70%;
  }

}

@media only screen and (max-width: 425px){
  .navbar{
    display: block;
    width: 100%
  }
  .navbar a{
    margin:4.5%;
    font-size:15px;
  }

  .intro-text{
    font-size: 30px;
  }

  .test-container{
    margin:0;
    padding:5%;
    display: grid;
    grid-auto-columns: auto;
  }


  .card-wrapper {
    display: grid !important;
  }

.container-products{
  display: grid;
  grid-template-columns: auto;
}

.form-wrapper{
  width: 80%;
}

.error-msg {
  font-size: 15px;
}

.container-filter{
  display: flex;
  flex-direction: column;
}



}

@media only screen and (max-width: 425px){
  .navbar a{
    margin:4%;
    font-size:12px;
  }

  .form-wrapper{
    width: 90%;
  }
  .intro-text {
    font-size:25px;
  }

  .para {
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px){
.w-100 {
  height: 200px;
}
  .navbar a{
    margin:4%;
    font-size:15px;
  }
  h3 {
    font-size: 10px;
  }

  .container-filter h3{
    font-size: 25px;
  }

  .intro-text {
    font-size:20px;
  }

  .testimonial h3{
    font-size: 30px;
    margin-top: 5px;
  }

  .form-wrapper input {
    height: 20%;
  }

  .footer-info {
    font-size: 13px;
  }
}